<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 class="text-error">True Damage</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
